
.home {
    text-align: center;
    color: white;
    
    img {
        width: 25%;
        border-radius: 50%;
        box-shadow: 0px 5px 10px white;
    }
    
    .titulo {
        p {
            letter-spacing: 5px;
        }
    }

    .subTitulo {
        p {
            letter-spacing: 10px;
            font-style: italic;
        }
    }
}
