
.pg-academic {
    color: white;

    .limit2 {
        min-height: 90vh;

        .periodo {
            color: grey;
        }

        .formacao {
            li {
                margin: 30px 0;
            }
        }

        .cursos {
            li {
                margin: 30px 0;
            }
        }

        .li-interna {
            
            li {
                margin: 0;
            }
        }

    }

}
