.pg-contato {
    color: white;
    min-height: 85vh;

    .caixa-contato {
        width: 90%;
    }

    .caixa-img {        
        img {
            width: 80px;
            height: 80px;
        }

    }
}