
// ----Estilização do Header---- // 

header {
    background-color: rgba(43, 43, 43, 0.3);
    height: 10vh;
    border-bottom: 0.1px solid;

    .logo {
        img {
            filter: invert(100%);
            width: 50px;
            border-radius: 50%;
            
            
            // &:hover {
            //     filter: none;
            //     transition: .3s ease-in-out;
            // }
        }

    }

    .navegavel {
        text-align: center;
        
        a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 500;

            &:hover {
                color: aqua;
                border-bottom: 2px solid aqua;
                transition: .5s ease;
            }
        }
    }
}

.footer {
    background-color: rgba(43, 43, 43, 0.3);
    width: 100%;
    height: 5vh;
    border-top: 0.1px solid;

    span {
        color: white;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

