
// ----Estilização do home---- // 

.home {
    text-align: center;
    color: white;
    
    img {
        width: 380px;
        border-radius: 50%;
        box-shadow: 0px 8px 15px white;
    }
    
    .titulo {
        p {
            font-size: 45px;
            letter-spacing: 7px;
        }
    }

    .subTitulo {
        p {
            letter-spacing: 14px;
            font-style: italic;
        }
    }
}
