
// ----Estilização do home---- // 

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-font/GothamNarrow-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.pg-home {
    min-height: 90vh;
    color: white;

    .conteudo {
        width: 80%;
        
        p {
            font-size: 600%;
            font-family: 'Gotham', Helvetica, sans-serif;
            letter-spacing: -5px;
            font-weight: normal;
            line-height: 1.3;
            
            span {
                color: aqua;
            }
        }
    }

    .open {
        text-decoration: none;
        color: white;
        position: fixed;
        top: 4vh;
        right: 3%;

        &:hover {
            color: aqua;
        }
    }
}