.pg-life {
  color: white;

  .limit {
    min-height: 90vh;

    @media (max-width: 899px) {
      width: 90% !important;
    }

    .caixa-life {
      width: 85%;

      @media (max-width: 899px) {
        width: 100% !important;
      }

      .cx1,
      .cx2,
      .cx3,
      .cx4 {
        border-radius: 5px;

        div {
          margin: 10px;

          p {
            text-indent: 20px;
            text-align: justify;
          }

          .img1 {
            border-radius: 50% 5px 5px 50%;
          }

          .img2 {
            border-radius: 5px 50% 50% 5px;
          }
        }
      }

      .cx1, .cx3 {
        @media (max-width: 784px) {
          flex-direction: column-reverse !important;

          .conteudo {
            width: 85% !important;
            margin-top: 0px !important;
          }

          .imagem {
            max-width: 200px !important;
            .img1 {
              border-radius: 15% !important;
              margin-bottom: 0px !important;
            }
          }
        }
      }

      .cx2, .cx4 {
        @media (max-width: 784px) {
          flex-direction: column !important;

          .conteudo {
            width: 85% !important;
            margin-top: 0px !important;
          }

          .imagem {
            max-width: 200px !important;
            .img2 {
              border-radius: 15% !important;
              margin-bottom: 0px !important;
            }
          }
        }
      }
    }
  }
}
