
.pg-work {
    color: white;

    .limit {
        min-height: 90vh;


        
        .exp {
            .empresa {
                margin: 30px 0;
                ul {
                    list-style: none;
                }
            }
    
            .titulo-xp {
                font-weight: bold;
            }
    
            .desc {
                color: rgb(109, 109, 109)
            }

            .periodo {
                color: rgba(128, 128, 128, 0.712);
            }
        }
    }


}
