
.pg-work {
    color: white;

    .limit {
        min-height: 90vh;
    
        .exp {
            .periodo {
                color: rgba(128, 128, 128);
            }

            a {
                text-decoration: none;
            }
        }
    }


}
