body {
  background-color: black;
}

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.699);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}

header {
  background-color: rgba(43, 43, 43, 0.555);
  height: 10vh;
  border-bottom: 0.1px solid;
}
header .logo img {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 1px 5px white;
}
header .logo img:hover {
  filter: invert(100%);
  transition: 0.7s ease;
}
header .navegavel {
  text-align: center;
}
header .navegavel a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
header .navegavel a:hover {
  color: silver;
  border-bottom: 2px solid silver;
  transition: 0.5s ease;
}

.footer {
  background-color: rgba(43, 43, 43, 0.555);
  text-align: center;
  padding: 2px 0;
  width: 100%;
  height: 5vh;
  border-top: 0.1px solid;
}
.footer span {
  color: silver;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham-font/GothamNarrow-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.pg-home {
  min-height: 90vh;
  color: white;
}
.pg-home .conteudo {
  width: 80%;
}
.pg-home .conteudo p {
  font-size: 600%;
  font-family: "Gotham", Helvetica, sans-serif;
  letter-spacing: -5px;
  font-weight: normal;
  line-height: 1.3;
}
.pg-home .conteudo p span {
  color: aqua;
}
.pg-home a {
  text-decoration: none;
  color: white;
}
.pg-home a:hover {
  color: rgb(185, 179, 179);
}

.pg-life {
  color: white;
}
.pg-life .limit {
  min-height: 90vh;
}
.pg-life .limit .caixa-life {
  width: 85%;
}
.pg-life .limit .caixa-life .cx {
  border-radius: 5px;
}
.pg-life .limit .caixa-life .cx div {
  margin: 10px;
}
.pg-life .limit .caixa-life .cx div p {
  text-indent: 20px;
  text-align: justify;
}
.pg-life .limit .caixa-life .cx div .img1 {
  border-radius: 50% 5px 5px 50%;
}
.pg-life .limit .caixa-life .cx div .img2 {
  border-radius: 5px 50% 50% 5px;
}

.pg-academic {
  color: white;
}
.pg-academic .limit2 {
  min-height: 90vh;
}
.pg-academic .limit2 .formacao li {
  margin: 30px 0;
}
.pg-academic .limit2 .cursos li {
  margin: 30px 0;
}
.pg-academic .limit2 .li-interna {
  list-style: none;
}
.pg-academic .limit2 .li-interna li {
  padding-left: 20px;
  margin: 0;
}

.pg-contato {
  color: white;
  min-height: 85vh;
}
.pg-contato .caixa-contato {
  width: 90%;
}
.pg-contato .formulario input {
  background-color: rgba(160, 160, 160, 0.562);
  border: 1px solid rgb(39, 39, 39);
  border-radius: 5px;
}
.pg-contato .formulario input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.pg-contato .formulario input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.pg-contato .formulario input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.pg-contato .formulario textarea {
  background-color: rgba(160, 160, 160, 0.562);
  border: 1px solid rgb(39, 39, 39);
  border-radius: 5px;
}
.pg-contato .formulario .btn {
  filter: opacity(0.8);
}
.pg-contato .caixa-img img {
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=style.css.map */