{% extends 'base.html' %}

{% block head %}

<title>Jk - Contato</title>

<style>
    .five {
        border-bottom: 2px solid white;
    }

    .five:hover {
        border-bottom: 2px solid aqua;
        transition: .5s ease;
    }

    .seta {
        display: none;
    }
  </style>

{% endblock %}

{% block body %}

<section class="pg-contato container-fluid d-flex align-items-center">
    
    <div class="caixa-contato mx-auto">
              
        <div class="caixa-img mx-auto">
            <p class="h2 text-center">Você pode me contatar através das plataformas abaixo.</p>

            <div class="w-75 mx-auto d-flex justify-content-around mt-5 flex-wrap">
                <a href="https://www.linkedin.com/in/jackles-kerley/" target="_blank" class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center py-3"><img src="../static/img/linkedin.png" alt="Linkedin"></a>

                <a href="https://github.com/JacklesKerley" target="_blank" class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center py-3"><img src="../static/img/github.png" alt="Github"></a>
                
                <a href="https://www.instagram.com/jackleskerley/" target="_blank" class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center py-3"><img src="../static/img/instagram.png" alt="Instagram"></a>
                
                <a href="mailto:jackleskerley@gmail.com?Subject=Olá Jackles" class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center py-3"><img src="../static/img/email.png" alt="Email"></a>
            </div>
        </div>

    </div>

</section>


{% endblock %}