{% extends 'base.html' %}

{% block head %}

<title>Jk - Contato</title>

<style>
    .five {
        border-bottom: 2px solid white;
    }

    .five:hover {
        border-bottom: 2px solid aqua;
        transition: .5s ease;
    }
  </style>

{% endblock %}

{% block body %}

<section class="pg-contato container-fluid d-flex align-items-center">
    
    <div class="caixa-contato mx-auto">
              
        <div class="caixa-img mx-auto">
            <p class="h2 text-center">Você pode me contatar através das plataformas abaixo.</p>

            <div class="w-50 mx-auto d-flex justify-content-around mt-5">
                <a href="https://www.linkedin.com/in/jackles-kerley/" target="_blank"><img src="../static/img/RedeLinkedin.png" alt="Linkedin"></a>
                <a href="https://github.com/JacklesKerley" target="_blank"><img src="../static/img/RedeGithub2.png" alt="Github"></a>
                <a href="https://www.instagram.com/jackleskerley/" target="_blank"><img src="../static/img/RedeInstagram.png" alt="Instagram"></a>
                <a href="mailto:jackleskerley@gmail.com?Subject=Olá Jackles"><img src="../static/img/Email.png" alt="Email"></a>
            </div>
        </div>

    </div>

</section>


{% endblock %}