{% extends 'base.html' %} {% block head %}

<title>Jackles Kerley</title>

<style>
  body {
    background-image: url(../static/img/fotoback.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 600px) {
    body {
      background-image: url(../static/img/fotobackmobile.svg);
      background-size: cover;
    }
  }

  @media (min-width: 601px) and (max-width: 894px) {
    body {
      background-size: contain;
    }
  }

  .seta {
    display: none !important;
  }

</style>

{% endblock %} {% block body %}

<section class="pg-home container-fluid d-flex align-items-center">
  <div class="conteudo mx-auto d-flex align-items-center">
    <p class="m-0 p-0">
      Hello World!<br />
      I'm <span>Jackles</span>,<br />
      Web Developer.
    </p>
  </div>
</section>

{% endblock %}
