{% extends 'base.html' %} {% block head %}

<title>Jackles Kerley</title>

<style>
  body {
    background-image: url('../static/img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 600px) {
    body {
      background-image: url('../static/img/backMobile.svg');
      background-size: cover;
      background-position: center;
    }
  }

  @media (min-width: 601px) and (max-width: 894px) {
    body {
      background-size: contain;
    }
  }

  .seta {
    display: none !important;
  }

</style>

{% endblock %} {% block body %}

<section class="pg-home container-fluid d-flex align-items-center">
  <div class="conteudo d-flex justify-content-center">
    <div class="divBoasVindas"><p>Hello World!</p></div>
    <div class="divBoasVindas"><p>I'm <span>Jackles Kerley</span>,</p></div>
    <div class="divBoasVindas"><p>Web Developer.</p></div>
  </div>
</section>

{% endblock %}
