{% extends 'base.html' %} {% block head %}

<title>Jk - Sobre</title>

<style>
  .two {
    border-bottom: 2px solid white;
  }

  .two:hover {
    border-bottom: 2px solid aqua;
    transition: 0.5s ease;
  }
</style>

{% endblock %} {% block body %}

<section class="pg-life container-fluid">
  <div class="limit w-75 mx-auto">
    <p class="h1 pt-5">Sobre</p>

    <hr />

    <div class="caixa-life mx-auto">
      <div class="cx1 d-flex justify-content-center align-items-center mt-4">
        <div class="conteudo w-75 h-100">
          <p class="my-auto">
            Me chamo Jackles Kerley, tenho 33 anos e, apesar de ter nascido no
            nordeste do Brasil, fui criado em São José dos Campos, no interior
            de São Paulo. Sou uma pessoa criativa e essa criatividade me ajuda a
            encontrar soluções inovadoras e eficazes para os desafios que
            enfrento. Gosto de passar tempo em lugares mais tranquilos para
            curtir meus fins de semana e desfrutar do meu tempo livre.
          </p>
        </div>
        <div class="imagem w-50">
          <img src="../static/img/jack.jpg" alt="" class="img1 w-100" />
        </div>
      </div>

      <div class="cx2 d-flex justify-content-center align-items-center mt-3">
        <div class="imagem w-50">
          <img src="../static/img/jackEMari.jpg" alt="" class="img2 w-100" />
        </div>
        <div class="conteudo w-75 h-100">
          <p class="my-auto">
            Sou casado há 3 anos e a nossa vida familiar é muito importante para
            nós. Por enquanto, não temos filhos, mas sempre fazemos questão de
            manter um equilíbrio entre nosso trabalho e nossa vida pessoal. Nós
            gostamos de passear juntos, estar com nossa família e amigos.
          </p>
        </div>
      </div>

      <div class="cx3 d-flex justify-content-center align-items-center mt-3">
        <div class="conteudo w-75 h-100">
          <p class="my-auto">
            Encontrei uma paixão por andar de bicicleta. É um dos meus
            principais hobbies e eu gosto de passar tempo pedalando pelas ruas.
            Eu adoro a sensação de liberdade e a adrenalina enquanto estou
            pedalando. Além disso, andar de bicicleta é uma ótima maneira de
            manter minha saúde física e mental.
          </p>
        </div>
        <div class="imagem w-50">
          <img src="../static/img/bike.jpg" alt="" class="img1 w-100" />
        </div>
      </div>

      <div class="cx4 d-flex justify-content-center align-items-center mt-3">
        <div class="imagem w-50">
          <img src="../static/img/music.jpg" alt="" class="img2 w-100" />
        </div>
        <div class="conteudo w-75 h-100">
          <p class="my-auto">
            Outro dos meus hobbies é tocar violão. Eu adoro música e tocar violão é uma forma incrível de expressar minhas emoções e criar algo novo. Me divirto muito tentando reproduzir minhas músicas favoritas e também gosto de criar minhas próprias. Tocar violão me dá uma sensação de paz e tranquilidade, é uma forma de me desconectar da rotina e me concentrar no que eu estou fazendo no momento. É algo que eu gosto de fazer quando estou me sentindo inspirado ou quero me expressar de uma forma diferente.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
