{% extends 'base.html' %}

{% block head %}

<title>Jk - LifeStyle</title>

<style>
  .two {
    border-bottom: 2px solid white;
  }

  .two:hover {
    border-bottom: 2px solid aqua;
    transition: .5s ease;
  }
</style>

{% endblock %}

{% block body %}

<section class="pg-life container-fluid">

  <div class="limit w-75 mx-auto">

    <p class="h1 pt-5">LifeStyle</p>

    <hr>

    <div class="caixa-life mx-auto">

      <div class="cx d-flex justify-content-center align-items-center mt-4">
        <div class="conteudo w-75 h-100">
          <p class="my-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odio eligendi dolorum sed
            accusantium rerum necessitatibus cum sit sapiente, doloremque beatae ipsa sint quos quibusdam quis ullam
            fugiat error distinctio.</p>
        </div>
        <div class="imagem w-50">
          <img src="../static/img/jack.jpg" alt="" class="img1 w-100">
        </div>
      </div>

      <div class="cx d-flex justify-content-center align-items-center mt-3">
        <div class="imagem w-50">
          <img src="../static/img/jackEMari.jpg" alt="" class="img2 w-100">
        </div>
        <div class="conteudo w-75 h-100">
          <p class="my-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odio eligendi dolorum sed
            accusantium rerum necessitatibus cum sit sapiente, doloremque beatae ipsa sint quos quibusdam quis ullam
            fugiat error distinctio.</p>
        </div>
      </div>

      <div class="cx d-flex justify-content-center align-items-center mt-3">
        <div class="conteudo w-75 h-100">
          <p class="my-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odio eligendi dolorum sed
            accusantium rerum necessitatibus cum sit sapiente, doloremque beatae ipsa sint quos quibusdam quis ullam
            fugiat error distinctio.</p>
        </div>
        <div class="imagem w-50">
          <img src="../static/img/bike.jpg" alt="" class="img1 w-100">
        </div>
      </div>

      <div class="cx d-flex justify-content-center align-items-center mt-3">
        <div class="imagem w-50">
          <img src="../static/img/music.jpg" alt="" class="img2 w-100">
        </div>
        <div class="conteudo w-75 h-100">
          <p class="my-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odio eligendi dolorum sed
            accusantium rerum necessitatibus cum sit sapiente, doloremque beatae ipsa sint quos quibusdam quis ullam
            fugiat error distinctio.</p>
        </div>
      </div>

    </div>

  </div>

</section>

{% endblock %}