{% extends 'base.html' %}

{% block head %}

<title>Jk - Experiência</title>

<style>
  .four {
    border-bottom: 2px solid white;
  }

  .four:hover {
    border-bottom: 2px solid aqua;
    transition: .5s ease;
  }
</style>

{% endblock %}

{% block body %}

<section class="pg-work container-fluid">

  <div class="limit w-75 mx-auto">

    <p class="h1 pt-5">Experiência</p>

    <hr>

    <div class="exp mt-5">
      <!-- <div class="w-100 d-flex justify-content-center">
        <p class="h2 d-inline-block m-0 p-0">Experiência</p>
      </div> -->

      <div>

        <p class="m-0 mt-4 p-0 h4">Nexus GeoEngenharia</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2">Estágio Desenvolvimento de Software</p>
          </li>
          <span class="periodo">Período: Fev de 2023 - Ago de 2023</span>
        </ul>
        
        <p class="m-0 mt-4 p-0 h4">Cervejaria Ambev</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2">Analista Financeiro - Planejamento e Performance</p>
          </li>
          <span class="periodo">Período: Set de 2019 - fev de 2022</span>

          <li>
            <p class="p-0 m-0 mt-2">Técnico Administrativo II</p>
          </li>
          <span class="periodo">Período: Out de 2018 - Set de 2019</span>

          <li>
            <p class="p-0 m-0 mt-2">Técnico Administrativo I</p>
          </li>
          <span class="periodo">Período: Out de 2015 - Out de 2018</span>

          <li>
            <p class="p-0 m-0 mt-2">Assistente de Trade Marketing</p>
          </li>
          <span class="periodo">Período: Mai de 2015 - Out de 2015</span>
        </ul>

        <p class="m-0 mt-4 p-0 h4">Panificadora e Distribuidora Iguape</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2">Supervisor de Vendas/Mercado</p>
          </li>
          <span class="periodo">Período: Mai de 2014 - Jan de 2015</span>
        </ul>

        <p class="m-0 mt-4 p-0 h4">Supller Merchandising Estratégico</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2">Promotor de Vendas</p>
          </li>
          <span class="periodo">Período: Dez de 2011 - Ago de 2012</span>
        </ul>

        <p class="m-0 mt-4 p-0 h4">Prefeitura de São José dos Campos</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2">Agente de Cidadania</p>
          </li>
          <span class="periodo">Período: Out de 2009 - jun de 2011</span>
        </ul>
      </div>

    </div>

    <div class="exp mt-5">
      <div class="w-100 d-flex justify-content-center">
        <p class="h2 d-inline-block m-0 p-0">Voluntário</p>
      </div>

      <div>
        <p class="m-0 mt-4 p-0 h4">IMPA</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2">Fiscal</p>
          </li>
          <span class="periodo">17° Edição (2022)
        </ul>
      </div>

    </div>

    <div class="exp mt-5">
      <div class="w-100 d-flex justify-content-center">
        <p class="h2 d-inline-block m-0 p-0">Portfólio Tech</p>
      </div>

      <div>

        <p class="m-0 mt-4 p-0 h4">Site Fictício Banda Eleve</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2"><a href="https://github.com/JacklesKerley/elevemusic.github.io" target="_blank">Acessar Repositório Github</a></p>
          </li>
        </ul>

        <p class="m-0 mt-4 p-0 h4">Sistema Bancário (API - Fatec)</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2"><a href="https://github.com/c3fatec/c3fatec.github.io" target="_blank">Acessar Repositório Github</a></p>
          </li>
        </ul>

        <p class="m-0 mt-4 p-0 h4">Site Pessoal</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2"><a href="https://github.com/JacklesKerley/Portifolio" target="_blank">Acessar Repositório Github</a></p>
          </li>
        </ul>

        <p class="m-0 mt-4 p-0 h4">Jogo FreWay</p>
        <ul>
          <li>
            <p class="p-0 m-0 mt-2"><a href="https://github.com/JacklesKerley/Jogo-FreWay---Mario" target="_blank">Acessar Repositório Github</a></p>
          </li>
        </ul>

      </div>

    </div>

  </div>

</section>

{% endblock %}