{% extends 'base.html' %}

{% block head %}

<title>Jk - Works</title>

<style>
  .four {
    border-bottom: 2px solid white;
  }

  .four:hover {
    border-bottom: 2px solid aqua;
    transition: .5s ease;
  }
</style>

{% endblock %}

{% block body %}

<section class="pg-work container-fluid">

  <div class="limit w-75 mx-auto">

    <p class="h1 pt-5">Works</p>

    <hr>

    <div class="exp mt-5">
      <div class="w-100 d-flex justify-content-center">
        <p class="h2 d-inline-block m-0 p-0">Experiência</p>
      </div>
      <div>
        <ul>
          <li class="empresa">
            <p class="m-0 p-0 h4 mb-4">Cervejaria Ambev</p>

            <p class="titulo-xp p-0 m-0 mt-2">Analista Fianceiro - Planejamento e Performance</p>
            <span class="periodo">Período: Set de 2019 - fev de 2022</span>

            <p class="titulo-xp p-0 m-0 mt-2">Técnico Administrativo II</p>
            <span class="periodo">Período: Out de 2018 - Set de 2019</span>

            <p class="titulo-xp p-0 m-0 mt-2">Técnico Administrativo I</p>
            <span class="periodo">Período: Out de 2015 - Out de 2018</span>

            <p class="titulo-xp p-0 m-0 mt-2">Assistente de Trade Marketing</p>
            <span class="periodo">Período: Mai de 2015 - Out de 2015</span>
          </li>

          <li class="empresa">
            <p class="m-0 p-0 h4 mb-4">Panificador e Distribuidora Iguape</p>

            <p class="titulo-xp p-0 m-0 mt-2">Supervisor de Vendas/Mercado</p>
            <span class="periodo">Período: Mai de 2014 - Jan de 2015</span>
          </li>

          <li class="empresa">
            <p class="m-0 p-0 h4 mb-4">Supller Merchandising Estratégico</p>

            <p class="titulo-xp p-0 m-0 mt-2">Promotor de Vendas</p>
            <span class="periodo">Período: Dez de 2011 - Ago de 2012</span>
          </li>

          <li class="empresa">
            <p class="m-0 p-0 h4 mb-4">Prefeitura de São José dos Campos</p>

            <p class="titulo-xp p-0 m-0 mt-2">Agente de Cidadania</p><span class="periodo">Período: Out de 2009 - jun de 2011</span>
          </li>
        </ul>

      </div>


    </div>

  </div>

</section>

{% endblock %}